@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
 max-width: 100%;
 max-height: 100%;

}
.body-left{
  font-family: 'proxima-nova', sans-serif;
  background: grey;
  background-image: url('/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 20px top 40px;
  background-size: contain;
  min-height: 2000px;

}
*{
  transition: opacity 21s ;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
